* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* CORES */
  /* Principais */
  --red: #E3646E;
  --purple: #BB72E9;
  --blue: #3996DB;
  --green: #82BC4F;
  --yelow: #EABD5F;

  /* Base */
  --gray-100: #0D0E11;
  --gray-200: #16181D;
  --gray-300: #292C34;
  --gray-400: #878EA1;
  --gray-500: #C0C4CE;
  --gray-600: #E2E4E9;

  /* FONTES */
  
  --fw-bold: 700;
  --fw-base: 400;
  
  /* MAVEN */
  --font-family-maven: 'Maven Pro', Sans serif;
  --fs-sm: 0.875rem;
  --fs-md: 1rem;
  
  /* Inconsolata */
  --font-family-incon: 'Inconsolata', Sans serif;
  --fs-base: 1.25rem;
  
  /* Asap */
  --font-family-asap: 'Asap', Sans serif;
  --fs-sm-lg: 1rem;
  --fs-md-lg: 1.5rem;
  --fs-lg: 3.5rem;
  

}

