header {
  background-image: url(../assets/images/Background_Intro.png);
  background-repeat: no-repeat;
  background-size: cover;

#profile {
  display: block;
  text-align: center;
  

  
}

#profileimg {
  display: block;
  margin-bottom: 3.5rem;
}

#picture {
  padding: 0.25rem;
  width: 7rem;
  height: 7rem;
  border-radius: 9999px;
  object-fit: cover;
  margin-top: 6rem;


  border: 2.5px solid var(--red);
  border-radius: 999px;
  
}


#profile {
  & h3 {
    font-family: var(--font-family-incon);
    font-weight: var(--fw-base);
    font-size: var(--fs-base);
    color: var(--gray-500);
    
    margin-bottom: 0.5rem;
    
    & strong {
      color: var(--red);
    }
  }

  & h1 {
    font-family: var(--font-family-asap);
    font-weight: var(--fw-bold);
    font-size: var(--fs-lg);
    color: var(--gray-600);
    margin-bottom: 1rem;
  } 

  & p {
    font-family: var(--font-family-maven);
    font-weight: var(--fw-base);
    font-size: var(--fs-sm);
    color: var(--gray-400);

    margin-bottom: 4rem;
  }
}

.arrow {
  text-align: center;
}

#arrow {
  width: 2rem;
  height: 2rem;
  margin-bottom: 7rem;
}
}





