header {
  background-image: url(/assets/images/Background_Intro.png);
  background-repeat: no-repeat;
  background-size: 100%;

#profile {
  display: block;
  text-align: center;
  
}

#profileimg {
  margin-bottom: 3.5rem;
}

#picture {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 9999px;
  object-fit: cover;
  margin-top: 7rem;

}

#icon {
  width: 2rem;
  height: 2rem;
  border: none;

  position: absolute;
  left: 48%;
  top: 30%;
  bottom: 10.94%;

}

#profile {
  & h3 {
    font-family: var(--font-family-incon);
    font-weight: var(--fw-base);
    font-size: var(--fs-base);
    color: var(--gray-500);
    
    margin-bottom: 0.5rem;
    
    & strong {
      color: var(--red);
    }
  }

  & h1 {
    font-family: var(--font-family-asap);
    font-weight: var(--fw-bold);
    font-size: var(--fs-lg);
    color: var(--gray-600);
    margin-bottom: 1rem;
  } 

  & p {
    font-family: var(--font-family-maven);
    font-weight: var(--fw-base);
    font-size: var(--fs-sm);
    color: var(--gray-400);

    margin-bottom: 4rem;
  }
}

.arrow {
  text-align: center;
}

#arrow {
  width: 2rem;
  height: 2rem;
  margin-bottom: 3.625rem;
}
}





